*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

#logo {
    height: 60px;
}
#buscador {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-left: 30px;
    margin-right: 50%;
}
#carrito {
    color: white;
    text-decoration: none;
    height: 50px;
}
nav button{
display: none;
visibility: hidden;
}

#lupa{
    color: white;
    text-decoration: none;
    height: 50px;
    margin-right: 40px;
    visibility: hidden;
}

#Destacado{
    height: 100vh;
    background-size: cover;
    background-image: url('../assets/img/bookshop-5870155.jpg');
}

#ofertas{
    color: white;
    background-color: rgba(0, 0, 0, 0.356);
    backdrop-filter: blur(1px);
    padding: 40px;
    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%); /* centrar */

    text-align: center;

    line-height: 40px;
}

#ofertas button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4617f3;
    color: white;
    margin-top: 20px;
}

#pastillas{
    display: flex;
    gap: 20px;
    margin: 10px;
    overflow-x: scroll;
}
#pastillas a{
    background-color: rgba(0, 0, 0, 0.281);
    padding: 10px;
    border-radius: 40px;
}

#Libros{
    max-width: 100vw;
    padding: 28px 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.carta{
    box-shadow: 2px 5px 5px rgb(0, 0, 0 , 0.2);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    padding: 10px;
    line-height: 2em;
    padding-bottom: 100px;
}

.carta img{
    height: 550px;
    width: 350px;
}

.carta button{
    width: 100%;
    color: white;
    background-color: #394adf;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
.carta h4{
    margin-bottom: 30px;

}
.carta #precio{
    color: green;
    margin-bottom: 20px ;
}

footer{
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer svg{
    height: 20px;
}
/* HOVERS */
.carta:hover{
    transform: scale(1.05);
}

.carta button:hover{
    background-color: #4a3691;
}

@media (max-width: 1025px) {
    #buscador{
        margin: 20px;
    }
}

@media (max-width: 600px) {
    #buscador{
        display: none;
    }

    nav #lupa{
        display: block;
        visibility: visible;
    }
}
